@charset "UTF-8";

.container-navbar {
	//.collapse.navbar-collapse,
	.accordion.navbar-nav {
		@media (max-width: 1199px) {
			width: 50%;
			margin-top: 10px;
			float: right;
		}
	}
	.card {
		.card-header {
			.btn {
				padding: 0;
			}
		}
		.card-body {
			ul {
				padding: 0;
				list-style: none;
				text-align: left;
				a {
					display: block;
					padding: 8px 2px;
					text-decoration: none;
					border-bottom: 1px solid #eee;
				}
			}
		}
	}
}

.container-main {
	h2 {
		font-size: 3.5rem;
		&.iB {
			margin-top: 10rem;
		}
	}
	h3 {
		color: #e6bf13;
		margin: 30px 0 10px;
	}
	p {
		font-size: 1.2rem;
	}
	.btn-secondary {
		background-color: rgb(236, 174, 79);
		border: 1px solid rgb(236, 174, 79);
	}

	.wrap-bootstrap {
		.resume-section.B-Theory .resume-section-content {
			.breakpoint-table {
				tr * {
					padding: 10px;
				}
			}
			.container {
				&.alignment .row {
						//height: 26px;
						&.col-align {
							height: 88px;
						}
				}
				.row {
					width: 80%;
					padding: 10px 10px 0;
					background-color: #e6f1e0;
					&:last-child {
						padding-bottom: 10px;
					}
					div{
						background-color: #a7d39e;
						border: 1px solid #6eac62;
						&.w-100 {
							border: none;
						}
					}
				}
			}
		}
		.resume-section .resume-section-content {
			.container {
				// Ex
				.nav-area {
					.navbar {
						.navbar-brand {
							.logo {
								display: inline-block;
							}
						}
						.navbar-nav {
							.nav-item {
								ul {
									padding: 0;
									list-style: none;
									display: none;
									a {
										display: block;
										padding: 2px 8px;
									}
								}
							}
						}
					}
				}
				.main-area {
					h2 {
						font-size: 2.125rem;
					}
					.main-banner {
						background: url(/images/banner.jpeg) no-repeat 40% 30% / cover;
						width: 100%;
						height: 30vh;
						margin-bottom: 4rem;
					}
					.container-Ex {
						h5 {
							font-size: 1.5rem;
						}
						.row {
							.main-figure {
								.row {
									margin: 1.125rem 0;
									border-bottom: 1px solid #ccc;
									align-items: center;
									&:last-child {
										border: none;
									}
									.wrap-img {
										padding: 0;
										overflow: hidden;
										img {
											width: 180%;
											margin-left: -20px;
										}
									}
								}
							}
							.main-link {
								a {
									display: inline-block;
									padding: 0.125rem 0;
								}
							}
						}
					}

				}
			}
		}
	}
}